.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 5vh 10vw;
  height: 65vh;
}

footer {
  height: 5vh;
}

.red { color: red; }
.blue { color: blue; }
.green { color: green; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  height: 100%;
}

.grid-cell {
  background-color: beige;
  color: #000;
  border-radius: 5px;
}

.grid-cell[data-state='Red'] {
  background-color: red;
}

.grid-cell[data-state='Blue'] {
  background-color: blue;
}

.grid-cell[data-state='Green'] {
  background-color: green;
}